<nav class="navbar bg-primary border-bottom border-body navbar-expand-lg p-3 " >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
          <a class="nav-link" routerLink="products">Products</a>
          <a class="nav-link" routerLink="basket">Basket</a>
          <a class="nav-link" routerLink="admin">Admin Panel</a>
        </div>
      </div>
    </div>
  </nav>

<ngx-spinner size="default" name="s1" type="ball-pulse-sync"></ngx-spinner>
<ngx-spinner size="default" name="s2" type="ball-running-dots"></ngx-spinner>
<ngx-spinner size="default" name="s3" type="pacman"></ngx-spinner>
<ngx-spinner size="default" name="s4" type="timer"></ngx-spinner>



<router-outlet></router-outlet>